.about {
    background-color: var(--color-white);
    color: black;
    color: var(--color-blue-dark);
    padding: 155px 0;
    margin: -100px 0;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    font-family: Montserrat, sans-serif;
}

#about {
    padding-top: 45px;
}

.about h2, 
.about h3 {
    color: var(--color-blue-medium);
}

.about h2 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 700;
}

.about h3 {
    border-bottom: 1px solid var(--color-blue-medium);
}

.about-flexbox {
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-around;
    max-width: 1100px;
    margin: 0 auto;
}

.about-flex-text {
    width: 50%;
}

.about-photos {
    /* height: 10rem; */
    width: 50%;
    margin-left: 3rem;
}

.about-composition {
    position: relative;
}

.about-photo {
    width: 70%;
    box-shadow: 0 1.5rem 1.5rem black;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem;
}

.about-photo--1 {
    left: 0;
    top: 0rem;
}

.about-photo--2 {
    right: -4rem;
    top: 3.7rem;
}

.about-photo--3 {
    left: 20%;
    top: 10rem;
}

.about-photo:hover {
    border-radius: 1rem;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem black;
    z-index: 11;
}

@media (max-width: 1250px) {
    .about-flexbox {
        flex-direction: column;
        margin: 0 auto;
        /* border: 2px solid black; */
    }

    .about-flex-text {
        width: 100%;
        padding: 1rem 4rem;
        text-align: center;
    }

    .about-photos {
        width: 60%;
        margin: 0 auto;
        padding-top: 2rem;
    }

    .about-photo {
        float: left;
        position: relative;
        width: 33.33333333%;
    }

    .about-photo--1 {
        top: 0;
        transform: scale(1.2);
    }

    .about-photo--2 {
        top: 0;
        transform: scale(1.3);
        left: 0;
        z-index: 100;
    }

    .about-photo--3 {
        top: 0;
        left: 0;
        transform: scale(1.1);
    }
  }

@media (max-width: 780px) {
    .about {
        clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    }

    .about-flex-text {
        padding: 0 1rem;
    }

    .about-photos {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .about-photos {
        display: none;
    }
}