.services {
    padding: 155px 0;
    padding-bottom: 200px;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    background-image: linear-gradient(116deg, #06b3bb, #0066b1);
    min-height: 100vh;
    color: white;
}

#services {
    padding-top: 45px;
}

.services h2 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 700;
}

.services-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    max-width: 1100px;
    margin: auto;
    padding: 2rem 0;
}

.services-header {
    max-width: 1100px;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.services-flex__text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-header h3 {
    font-size: 28px;
    line-height: 31px;
    font-weight: 400;
    margin: 25px 0 0;
    margin-bottom: 0;
    font-family: Ubuntu, sans-serif;
    text-align: center;
}

.services h4 {
    font-size: 24px;
}

.services-subtitle {
    font-weight: 400;
    font-size: 18px;
}

.services-flex__text p {
    padding: 2rem 1rem;
    font-weight: 400;
    text-align: justify; 
    color: white;
}

.services-flex__img-box {
    overflow: hidden;
    border-radius: 10px;
    min-width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.services-flex__img-box img {
    width: 100%;
}

#services-video {
    border-radius: 10px;
    margin: .5rem;
    width: 450px;
    height: 280px;
}

#services-img-typewriter {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#services-img-hdd {
    width: 400px;
    height: 450px;
    border-radius: 10px;
}

@media (max-width: 1150px) {
    .services {
        clip-path: polygon(0 2%, 100% 0%, 100% 98%, 0% 100%);
    }

    .services-header {
        max-width: 500px;
    }

    .services-flexbox {
        flex-direction: column;
        max-width: 500px;
    }

    .services-flex__img-box {
        margin: auto;
    }

    .services-flexbox:nth-child(3),
    .services-flexbox:last-of-type {
        flex-direction: column-reverse;
    }

    /* #services-video {
        width: 560;
        height: 315;
    } */
}

@media (max-width: 560px) {
    #services-video {
        width: 300px;
        height: 200px;
    }
}