.technology {
    padding-top: 45px;
    /* background-image: linear-gradient(116deg, white, grey); */
    position: relative;
    z-index: 1;
}

.tech-header {
    max-width: 710px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.tech-header h2,
.tech-header h3 {
    color: black;
}

.tech-header h2 {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.tech-header h3 {
    font-size: 28px;
    line-height: 31px;
    font-weight: 400;
    margin: 25px 0 0;
    margin-bottom: 0;
    font-family: Ubuntu, sans-serif;
    text-align: center;
}

.tech-img__laptop {
    display: block;
    margin: 0 auto;
    height: 300px;
}

.tech-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    max-width: 1100px;
    margin: auto;
    /* border: 2px solid black; */
}

.tech-flexbox:nth-child(2) {
    border-top: 2px solid black;
    padding-top: 2rem;
}

.tech-flexbox:nth-child(3) {
    border-top: 2px solid black;
    padding: 2rem 0;
    border-bottom: 2px solid black;
}

.tech-flex__text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tech-flex__img-box {
    overflow: hidden;
    border-radius: 10px;
    min-width: 50%;
}

.tech-flex__img-box img {
    width: 100%;
}

.tech-flex__text p {
    padding: 2rem 1rem;
    font-weight: 400;
    color: black;
    text-align: justify; s
}

@media (max-width: 1150px) {
    .tech-img__laptop {
        height: 150px;
    }

    .tech-flexbox {
        flex-direction: column;
        max-width: 500px;
    }

    .tech-flex__img-box {
        margin: auto;
    }
}

/* <<<<<<<<<<<<<<<>>>>>>>>>>>>>> */
/* <<<<< EQUIPMENT START >>>>>>> */
/* <<<<<<<<<<<<<<<>>>>>>>>>>>>>> */

.equipment {
    position: relative;
    padding: 50px 0 50px 0;
    padding-top: 70px;
}

.equipment #equipment-filter {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.equipment #equipment-filter li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background: #0066b1;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #0066b1;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.equipment #equipment-filter li:hover,
.equipment #equipment-filter li.filter-active {
    color: #0066b1;
    background: transparent;
    box-shadow: inset 0 0 0 0 #0066b1;
    border-color: #0066b1;
}

.equipment .equipment-item {
    position: relative;
}

.equipment .equipment-wrap {
    position: relative;
    width: 100%;
}

.equipment .equipment-img {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.equipment .equipment-img img {
    position: relative;
    height: 250px;
    padding: 2rem;
    /* object-fit: cover; */
    transform: scale(1.1);
    transition: .5s;
}

.equipment .equipment-item:hover img {
    margin-left: 15px;
}

.equipment .equipment-text {
    position: relative;
    height: 60px;
    width: calc(100% - 30px);
    margin: -30px 15px 30px 15px;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .12);
}

.equipment .equipment-text h3 {
    width: calc(100% - 70px);
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.equipment .equipment-text a.btn {
    width: 50px;
    height: 50px;
    padding: 0 0 2px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 100;
}

.equipment .equipment-item:hover a.btn {
    color: #06b3bb;
    background: transparent;
    box-shadow: inset 0 0 0 0 #06b3bb;
    border-color: #06b3bb;
}